@import 'rupture/*'
@import 'helper/*'
@import 'fonts/*'
@import 'grid/*'

// setup html root font-size for rem units
html
	font-size 10px

//global styles
a
	tr(.3s)

img
	vertical-align top

.select2-dropdown
	border 0
	
.fancybox-skin
	border-radius(0)
	background transparent
	
.fancybox-inner
	overflow hidden !important
	
@import 'blocks/*'

// z-index table
//header__topline 1000
//header__sideline 1001
//header__bottomline 1000
//main-nav-menu 999


