.about

	&__info-wrap
		padding-y(200px)
		padding-x(80px)
		border-bottom 5px solid brand

	&__info
		position relative
		padding-right 200px
		font-family font-book
		font-size 40px
		line-height 1.2

		&:after
			content ""
			position absolute
			bottom 58px
			right 0
			display block
			height 5px
			width 144px
			background light

	&__form-wrap
		padding-y(90px)
		padding-x(80px)
