.about

	&__info-wrap
		padding-y(140px)
		padding-x(80px)
		border-bottom 5px solid brand

		+below(largest)
			padding-y(30px)
			padding-x(20px)

	&__info
		position relative
		padding-right 200px
		font-family font-book
		font-size 40px
		line-height 1.2

		+below(largest)
			font-size 30px
			padding-right 0

		+below(tablet)
			font-size 20px

		&:after
			content ""
			position absolute
			bottom 58px
			right 0
			display block
			height 5px
			width 144px
			background light

			+below(largest)
				display none

	&__form-wrap
		padding-y(90px)
		padding-x(80px)

		+below(largest)
			padding-y(30px)
			padding-x(20px)
