.bottomline-menu
	display table
	height 100%
	width 100%
	table-layout fixed
	
	> li
		display table-cell
		padding-x(15px)
		vertical-align middle
		text-align center
		
		&:first-child
			padding-left 0
			text-align left
			
		&:last-child
			padding-right 0
			text-align right
			
		> a
			display inline-block
			max-width 100%
			padding-x(5px)
			color main
			font-size 22px
			line-height 90px
			text-decoration none
			single-line()
			
			&:hover,
			&:focus
				color brand
				
			+below(1600px)
				font-size 18px
				line-height 60px
				
			+below(1366px)
				padding-x(15px)
				

	> li.active
		
		> a
			color light
			background #a59289

			&:hover,
			&:focus
				color light
				background #a59289