.date-list
	clearfix()
	
	> li
		position relative
		float left
		margin-right 4px

		&:after
			content ""
			position absolute
			right -4px
			bottom 6px
			display block
			height 4px
			width 4px
			background main
			border-radius(50%)

		&:last-child
			&:after
				display none

		> a
			display inline-block
			padding-x(6px)
			color main
			font-size 22px
			line-height 1.2
			text-decoration none

			&:hover,
			&:focus
				color brand
				
			+below(1600px)
				font-size 18px

	> li.active

		> a
			color light
			background brand

			&:hover,
			&:focus
				color light
				background brand
