.footer
	padding-x(50px)
	padding-y(30px)
	color brand-dark
	background main

	+below(largest)
		padding-x(20px)
		padding-y(20px)

	&__links

		+below(large)
			padding-top 20px

		> .grid
			display table
			width 100%

			+below(large)
				display block

			> div
				display table-cell
				float none
				vertical-align bottom

				+below(large)
					display block
					float left

	&__list
		padding-right 15px

		+below(smallest)
			padding-right 0
			margin-bottom 10px

		> li
			margin-bottom 10px

			+below(smallest)
				display inline-block
				padding-right 5px

			&:last-child
				margin-bottom 0

			> a
				color brand-dark
				font-family font-book
				font-size 22px
				text-decoration none

				+below(tablet)
					font-size 18px

				&:hover,
				&:focus
					color light

	&__copyright

		+below(large)
			padding-top 20px
			text-align center

		+below(tablet)
					font-size 18px
