.form
	max-width 576px
	margin-x(auto)
	font-family font-book

	> .grid
		margin-x(-45px)

		+below(tablet)
			margin-x(0)

		> [class*='col-']
			padding-x(45px)

			+below(tablet)
				padding-x(0)

	&__input-grp
		display table
		width 100%
		max-width 100%
		margin-bottom 30px
		padding-bottom 12px
		border-bottom 6px solid light

		+below(smallest)
			display block

		&_submit
			border 0
			text-align right

	&__label-wrap
		display table-cell

		+below(smallest)
			display block

	&__label-wrap-alt
		margin-bottom 12px

	&__label
		display block
		font-size 19px
		white-space nowrap

	&__input-wrap
		display table-cell

		+below(smallest)
			display block

	&__input
		width 100%
		padding-x(5px)
		color light
		font-family font-alt
		font-size 16px
		font-style italic
		background transparent
		border 0

		+below(smallest)
			padding-x(0)

	&__textarea-grp
		margin-bottom 30px

	&__textarea
		height 100px
		width 100%
		padding 5px
		color light
		font-size 16px
		font-style italic
		background transparent
		border 5px solid light

	&__contacts-wrap
		padding-top 5px
		border-top 2px solid light

	&__contacts
		font-family font-book
		font-size 16px
		line-height 1.4

	&__contacts-link
		color light
		text-decoration none

		&:hover,
		&:focus
			color brand

