.header
	
	&__topline
		z-index 1000
		position fixed
		top 0
		left 0
		right 0
		height 92px
		width 100%
		padding-x(92px)
		background light
		border-bottom 2px solid border
		
		+below(1600px)
			height 60px
			padding-x(60px)
			
		+below(1366px)
			padding-x(35px)
			
		+below(1100px)
			padding-x(15px)
		
	&__sideline
		z-index 1001
		position fixed
		top 0
		left 0
		height 100vh
		width 92px
		padding-y(90px)
		background light
		
		&_2
			left auto
			right 0
			
		+below(1600px)
			width 60px
			padding-y(58px)
			
		+below(1366px)
			display none


	&__bottomline
		z-index 1000
		position fixed
		bottom 0
		left 0
		right 0
		height 92px
		width 100%
		padding-x(92px)
		background light
		border-top 2px solid border
		
		+below(1600px)
			height 60px
			padding-x(60px)
			
		+below(1366px)
			padding-x(35px)
			
		+below(1100px)
			padding-x(15px)
		
	&__sideline-border
		height 100%
		width 100%
		border-right 2px solid border
		
		&_2
			border-right 0
			border-left 2px solid border
			
	&__topline-wrap
		display table
		height 100%
		width 100%
		table-layout fixed
		
	&__topline-block
		display table-cell
		width 33.33%
		clearfix()
		vertical-align middle
		
		&_select
			
			+below(1100px)
				display none
				
		&_logo
			
			+below(1100px)
				text-align right
			
	&__nav
		float left
		margin-right 35px
		
	&__links
		float left
		
		+below(1100px)
			display none
		
	&__select
		float right