.info-list
	font-family font-bold

	> li
		margin-bottom 9px

		+below(large)
			margin-bottom 20px

	&__date
		font-size 14px
		single-line()

	&__info
		margin-x(15px)
		padding-bottom 5px
		font-family font-book
		font-size 15px
		line-height 1.2
		border-bottom 1px solid main

		+below(smallest)
			margin-x(0)

		span
			font-family font-bold

	&__btn
		display inline-block
		padding-x(7px)
		color main
		font-size 15px
		line-height 23px
		text-decoration none
		text-transform uppercase
		background light
		border 1px solid main
		single-line()
		text-align center

		+below(smallest)
			width 100%
			margin-top 10px

		&:hover,
		&:focus
			color light
			background main

