.media-item
	font-size 12px

	&__title
		font-size 26px
		margin-bottom 20px

	&__text
		line-height 1.2


	&__link
		display inline-block
		padding-bottom 1px
		color main
		font-style italic
		text-decoration none
		border-bottom 1px solid main

