.page
	position relative

	&__wrap
		padding-x(90px)
		padding-bottom 90px

		+below(largest)
			padding 0

	&__content-wrap
		padding-top 60px
		padding-x(50px)

	&__section
		margin-bottom 60px

	&__text
		color brand
		font-size 30px
