.page
	position relative

	&__wrap
		padding-x(90px)
		padding-bottom 90px
		
		+below(1600px)
			padding-x(60px)
			padding-bottom 60px
			
		+below(1366px)
			padding-x(0)

	&__content-wrap
		padding-top 60px
		padding-x(50px)
		
		+below(1400px)
			padding-top 20px
			padding-x(15px)

	&__section
		margin-bottom 60px
		
		+below(1400px)
			margin-bottom 15px

	&__text
		color brand
		font-size 30px
		line-height 1.2
		
		+below(1400px)
			font-size 22px

		