.schedule
	padding-y(80px)
	padding-x(100px)

	&__title
		margin-bottom 80px
		text-align center
		font-size 142px
		letter-spacing 0.03em

	&__subtitle
		margin-bottom 10px

	&__deco
		height 72px
		margin-bottom 25px
		border-top 2px solid main
		border-left 2px solid main

		&_notopborder
			border-top 0

	&__table
		margin-bottom 70px

	&__text
		color brand
		line-height 1.2

