.sign
	
	> .grid
		display table
		width 100%
		table-layout fixed
		
		+below(900px)
			display block
		
		> div
			display table-cell
			float none
			vertical-align bottom
			
			+below(900px)
				display block
			
	&__text
		font-family font-book
		font-size 22px
		
		+below(1600px)
			font-size 16px
			
		+below(1100px)
			font-size 14px
			
		+below(900px)
			margin-bottom 10px
			
		+below(600px)
			text-align center

		span
			display block
			margin-top 9px
			font-family font-bold
			font-size 30px
			letter-spacing 0.04em
			text-transform uppercase
			
			+below(1600px)
				font-size 22px
				
			+below(1100px)
				font-size 18px
				
			+below(900px)
				display inline-block
				margin-top 0

	&__form
		padding-left 10px
		
		+below(900px)
			padding-left 0
		

	&__input
		display block
		height 38px
		width 100%
		padding-x(15px)
		color brand-dark
		font-family font
		font-size 15px
		border 1px solid brand-dark
		background transparent

	&__submit
		display block
		height 38px
		width 100%
		background brand-dark
		border 0
		tr(.3s)

		&:hover,
		&:focus
			background-color light
