.social-list
	display inline-block
	clearfix()
	
	> li
		float left
		margin-right 9px
		
		+below(600px)
			margin-right 15px
		
		&:last-child
			margin-right 0
		
		> a
			display inline-block
			height 22px
			width 22px
			text-decoration none
			border-radius(50%)
			tr(0s)
			
			+below(768px)
				height 30px
				width 30px
			
	&__insta
		background-image url(images/static/icon-instagram.png)
		bg-image()
		
		&:hover,
		&:focus
			background-image url(images/static/icon-instagram-light.png)
			bg-image()
		
	&__pinterest
		background-image url(images/static/icon-pinterest.png)
		bg-image()
		
		&:hover,
		&:focus
			background-image url(images/static/icon-pinterest-light.png)
			bg-image()
		
	&__facebook
		background-image url(images/static/icon-facebook.png)
		bg-image()
		
		&:hover,
		&:focus
			background-image url(images/static/icon-facebook-light.png)
			bg-image()