.stores-item
	font-size 14px
	font-family font-book

	&__title
		display inline-block
		padding-bottom 2px
		margin-bottom 11px
		color brand
		font-style italic
		border-bottom 1px solid light

	&__info
		margin-bottom 4px

		&:last-child
			margin-bottom 0

		a
			color light
			text-decoration none

			&:hover,
			&:focus
				text-decoration underline
