.stores
	padding-y(130px)
	padding-x(90px)
	color light
	background main

	+below(largest)
		padding 0
		padding-top 130px
		padding-bottom 90px

	&__wrap
		padding-left 280px

		+below(largest)
			padding-left 0
			padding-x(20px)

	&__select
		position fixed
		left 135px
		top 140px

		+below(largest)
			position static
			max-width 190px
			margin-x(auto)
			margin-bottom 50px


	&__main-wrap
		max-width 1030px

	&__section
		margin-bottom 40px

	&__title
		margin-right 40px
		font-size 60px
		line-height 1.1
		text-align right
		overflow hidden

		+below(large)
			margin-right 0
			padding-bottom 40px
			text-align center

		+below(tablet)
			font-size 36px
			padding-bottom 20px

		&_active
			color brand


	&__row
		padding-top 12px


	&__subtitle
		margin-bottom 10px

	&__row-deco
		height 4px
		width 160px
		margin-bottom 25px
		background light

		+below(tablet)
			width 100%

	&__item
		display inline-block
		width 32%
		padding-right 30px
		margin-bottom 30px

		+below(tablet)
			width 48%

		+below(mobile)
			width 100%
