.submit-btn
	display block
	height 30px
	width 100%
	padding-x(20px)
	font-family font-medium
	text-align right
	background light
	border 0
	tr(.3s)
	single-line()

	&:hover,
	&:focus
		background brand

	&_alt
		position relative
		font-size 14px
