.submit-btn
	display inline-block
	height 30px
	padding-x(20px)
	font-family font-medium
	text-align right
	background light
	border 0
	tr(.3s)
	single-line()
	text-transform uppercase

	&:hover,
	&:focus
		background brand

	&_alt
		position relative
		padding-x(10px)
		font-size 14px
		text-align center
