.topline-menu
	position relative
	
	&__btn
		display inline-block
		height 24px
		width 32px
		text-decoration none
		background transparent url("images/static/icon-hamburger.png") 0 0 no-repeat
		-webkit-background-size cover
		-moz-background-size cover
		-o-background-size cover
		background-size cover
		tr(0s)
		
		&_opened
			background transparent url("images/static/icon-close.png") center 0 no-repeat
			-webkit-background-size auto 100%
			-moz-background-size auto 100%
			-o-background-size auto 100%
			background-size auto 100%
			

