.topline
	display table
	width 100%
	table-layout fixed

	+below(tablet)
		display block
		table-layout auto
		clearfix()

	&__block
		display table-cell
		min-height 1px
		width 33.33%
		vertical-align middle

		+below(tablet)
			display block
			float left
			width 50%

		&_tablet-hidden
			+below(tablet)
				display none

	&__date-list
		display none

		+below(tablet)
			clear both
			display block
			padding-top 10px

	&__logo-wrap
		+below(large)
			display none

	&__mobile-logo-wrap
		display none

		+below(large)
			display block

	&__control-wrap
		float right

	&__control
		display table

	&__select
		display table-cell
		padding-left 15px
		vertical-align middle

	&__nav-wrap
		display table-cell
		vertical-align middle

		+below(largest)
			display none

	&__mobile-menu
		display none

		+below(largest)
			display table-cell
			padding-left 20px
			vertical-align middle
