.trunk-book-after
	padding-x(30px)
	color light
	font-size 20vh
	line-height 1.2em
	font-family font-bold
	text-align center
	letter-spacing 0.05em
	
	+below(1100px)
		padding-x(15px)
		font-size 10vh
		
	+below(480px)
		font-size 40px