.gallery
	min-height 100vh
	padding 90px
	background main

	+below(largest)
		padding 0
		padding-top 90px

	&__wrap
		padding-y(40px)
		padding-x(12px)

		> .grid
			margin-x(-4px)

			> div
				padding-x(4px)

	&__item
		padding-bottom 25px
