.gallery-item
	position relative
	cursor pointer

	&__preview
		height 0
		padding-bottom 110%
		bg-image()

	&__info-wrap
		position absolute
		width 100%
		bottom 0
		left 0
		padding-y(5px)
		padding-x(8px)
		background rgba(255, 255, 255, .7)
		single-line()

	&__info
		font-family font-book
		font-size 12px



	&__popup
		display none
		position fixed
		top 0
		left 0
		height 100%
		width 100%
		background rgba(255,255,255 .5)
		z-index 100

	&__popup-inner
		position absolute
		top 90px
		bottom 90px
		left 90px
		right 90px
		// text-align center

	&__img-wrap
		position relative
		display inline-block

	&__img-content
		position relative

	&__img
		display block
		height auto
		width auto
		max-width 100%
		padding-y(40px)


	&__img-info
		position absolute
		bottom 40px
		color light
