.header-logo
	padding-x(10px)

	+below(tablet)
		padding-left 0

	a
		display inline-block

		img
			width 100%

			+below(large)
				height 30px
				width auto
				max-width 100%

			+below(smallest)
				height auto
				width 100px
