.menu
	clearfix()

	> li
		float left

		+below(largest)
			float none


		> a
			display inline-block
			padding-x(15px)
			color main
			font-size 25px
			line-height 90px
			text-decoration none

			+below(largest)
				display block
				padding-x(20px)
				font-size 20px
				line-height 1.4
				text-align right

			&:hover,
			&:focus
				color brand

	> li.active

		> a
			background-color brand

			&:hover,
			&:focus
				color main
