//colors
main = #262424 				//dark color
light = #fff				//pure white text color
brand = #9f9389				//brown color
brand-dark = #959191		//grey color
overlay = #434040
border = #3e3e3e			//border dark color


//fonts
font = 'geomanist-regular-webfont', Arial, sans-serif
font-medium = 'geomanist-medium-webfont', Arial, sans-serif
font-book = 'geomanistbook', Arial, sans-serif
font-bold = 'geomanist-bold-webfont', Arial, sans-serif
font-alt = 'garamond_premr_pro', 'geomanist-medium-webfont', Arial, sans-serif

//font weight
w-thin = 100
w-extralight = 200
w-light = 300
w-regular = 400
w-book = 500
w-medium = 600
w-bold = 700
w-black = 800
w-ultra = 900

//size
size-hd = 1920px
largest = 1400px
large = 1100px
medium = 960px
tablet = 768px
mobile = 600px
smallest = 480px
